In [1]:
import pandas as pd
import snscrape.modules.twitter as sntwitter
import itertools

### Fire:

In [2]:
df = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('"fire"').get_items(), 5000))

In [3]:
df.head()

,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,quoteCount,...,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card
0,https://twitter.com/ghostbotstories/status/153...,2022-05-27 15:05:29+00:00,A fire would sparkle in your eyes\nAnd mine,A fire would sparkle in your eyes\nAnd mine,1530203543751528449,"{'username': 'ghostbotstories', 'id': 99682512...",0,0,0,0,...,None,None,NaN,None,None,None,None,None,None,None
1,https://twitter.com/CherLundq/status/153020354...,2022-05-27 15:05:29+00:00,@snapshutter Closed minds don't hear the unsta...,@snapshutter Closed minds don't hear the unsta...,1530203542811820033,"{'username': 'CherLundq', 'id': 75981674612772...",0,0,0,0,...,None,None,1.530194e+18,"{'username': 'snapshutter', 'id': 111101761, '...","[{'username': 'snapshutter', 'id': 111101761, ...",None,None,None,None,None
2,https://twitter.com/BsdRokia/status/1530203541...,2022-05-27 15:05:28+00:00,@BIGHIT_MUSIC My two babies are smoking fire 💣...,@BIGHIT_MUSIC My two babies are smoking fire 💣...,1530203541465444353,"{'username': 'BsdRokia', 'id': 144581418949959...",0,0,0,0,...,None,None,1.530202e+18,"{'username': 'BIGHIT_MUSIC', 'id': 168683422, ...","[{'username': 'BIGHIT_MUSIC', 'id': 168683422,...",None,None,"[jungkook, jimin]",None,None
3,https://twitter.com/FireKeeperJames/status/153...,2022-05-27 15:05:28+00:00,@TheActMan_YT @KEEMSTAR https://t.co/ujjEcFwVf6,@TheActMan_YT @KEEMSTAR https://t.co/ujjEcFwVf6,1530203540496318465,"{'username': 'FireKeeperJames', 'id': 73557459...",0,0,0,0,...,None,None,1.530119e+18,"{'username': 'TheActMan_YT', 'id': 75086545608...","[{'username': 'TheActMan_YT', 'id': 7508654560...",None,None,None,None,None
4,https://twitter.com/bitchyswiftie/status/15302...,2022-05-27 15:05:28+00:00,For all her faults this was a damn good show. ...,For all her faults this was a damn good show. ...,1530203540471263232,"{'username': 'bitchyswiftie', 'id': 1057257491...",0,0,0,0,...,None,{'url': 'https://twitter.com/PopBase/status/15...,NaN,None,None,None,None,None,None,None

In [4]:
df.shape

(5000, 28)

In [5]:
df['user_location'] =  df['user'].apply(lambda x: x['location'])
df['user_location'].head(20)

0
1
2
3
4                 in the daylight
5         Somewhere on the planet
6             court of the dragon
7
8        Transplant from DE to TX
9           Magic Shop | She/her🌙
10                  Rockville, MD
11                             西成
12    Republic of the Philippines
13           Central Florida area
14            Stuttgart / Germany
15      Federal Capital Territory
16
17                     Austin, TX
18                       道満の烏帽子の中
19                       LA/Miami
Name: user_location, dtype: object

In [22]:
df['north_america']=[df['user_location'][i] if df['user_location'][i]=="North America" else "Nan" for i in range(df.shape[0])]

In [23]:
df["north_america"].unique()

array(['Nan', 'North America'], dtype=object)

In [6]:
df.shape

(5000, 29)

In [7]:
df.head()

,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,quoteCount,...,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,user_location
0,https://twitter.com/ghostbotstories/status/153...,2022-05-27 15:05:29+00:00,A fire would sparkle in your eyes\nAnd mine,A fire would sparkle in your eyes\nAnd mine,1530203543751528449,"{'username': 'ghostbotstories', 'id': 99682512...",0,0,0,0,...,None,NaN,None,None,None,None,None,None,None,
1,https://twitter.com/CherLundq/status/153020354...,2022-05-27 15:05:29+00:00,@snapshutter Closed minds don't hear the unsta...,@snapshutter Closed minds don't hear the unsta...,1530203542811820033,"{'username': 'CherLundq', 'id': 75981674612772...",0,0,0,0,...,None,1.530194e+18,"{'username': 'snapshutter', 'id': 111101761, '...","[{'username': 'snapshutter', 'id': 111101761, ...",None,None,None,None,None,
2,https://twitter.com/BsdRokia/status/1530203541...,2022-05-27 15:05:28+00:00,@BIGHIT_MUSIC My two babies are smoking fire 💣...,@BIGHIT_MUSIC My two babies are smoking fire 💣...,1530203541465444353,"{'username': 'BsdRokia', 'id': 144581418949959...",0,0,0,0,...,None,1.530202e+18,"{'username': 'BIGHIT_MUSIC', 'id': 168683422, ...","[{'username': 'BIGHIT_MUSIC', 'id': 168683422,...",None,None,"[jungkook, jimin]",None,None,
3,https://twitter.com/FireKeeperJames/status/153...,2022-05-27 15:05:28+00:00,@TheActMan_YT @KEEMSTAR https://t.co/ujjEcFwVf6,@TheActMan_YT @KEEMSTAR https://t.co/ujjEcFwVf6,1530203540496318465,"{'username': 'FireKeeperJames', 'id': 73557459...",0,0,0,0,...,None,1.530119e+18,"{'username': 'TheActMan_YT', 'id': 75086545608...","[{'username': 'TheActMan_YT', 'id': 7508654560...",None,None,None,None,None,
4,https://twitter.com/bitchyswiftie/status/15302...,2022-05-27 15:05:28+00:00,For all her faults this was a damn good show. ...,For all her faults this was a damn good show. ...,1530203540471263232,"{'username': 'bitchyswiftie', 'id': 1057257491...",0,0,0,0,...,{'url': 'https://twitter.com/PopBase/status/15...,NaN,None,None,None,None,None,None,None,in the daylight

### Eearthquake:

In [8]:
df_2 = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('"earthquake"').get_items(), 5000))

In [9]:
df_2['user_location'] =  df_2['user'].apply(lambda x: x['location'])
df_2['user_location'].head(20)

0                             rkive
1                             Earth
2                               黒門島
3
4
5
6
7                       Munster, IN
8                  Хай живе Україна
9
10                            Earth
11          💌 3card free shipping 💌
12           宮城大学（MYU）　MIYAGI　JAPAN
13           she/her | british | 17
14                     Coast, Kenya
15    Quezon City, Philippines 1101
16
17                              黒門島
18
19
Name: user_location, dtype: object

In [10]:
df_2.head()

,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,quoteCount,...,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,user_location
0,https://twitter.com/jimglypuff/status/15302047...,2022-05-27 15:10:16+00:00,model industry having an earthquake rn https:/...,model industry having an earthquake rn https:/...,1530204750259531776,"{'username': 'jimglypuff', 'id': 1315722297613...",0,0,0,0,...,None,NaN,None,None,None,None,None,None,None,rkive
1,https://twitter.com/everyEarthquake/status/153...,2022-05-27 15:09:49+00:00,"USGS reports a M1.17 earthquake, 6km WNW of Co...","USGS reports a M1.17 earthquake, 6km WNW of Co...",1530204635834814465,"{'username': 'everyEarthquake', 'id': 14146844...",0,0,0,0,...,None,NaN,None,None,"{'longitude': -122.7913361, 'latitude': 38.833...","{'fullName': 'California, USA', 'name': 'Calif...",[earthquake],None,None,Earth
2,https://twitter.com/earthquake_all7/status/153...,2022-05-27 15:09:46+00:00,"【極微小地震速報 三重県2/300】\n2022/05/27 23:36:24 JST, \...","【極微小地震速報 三重県2/300】\n2022/05/27 23:36:24 JST, \...",1530204620785872896,"{'username': 'earthquake_all7', 'id': 40604724...",0,0,0,0,...,None,NaN,None,None,None,None,None,None,None,黒門島
3,https://twitter.com/VorpalCoil/status/15302045...,2022-05-27 15:09:38+00:00,"""Plate tectonics"" was invented to cover up the...","""Plate tectonics"" was invented to cover up the...",1530204589437292544,"{'username': 'VorpalCoil', 'id': 1162492870751...",0,0,0,0,...,None,NaN,None,None,None,None,None,None,None,
4,https://twitter.com/ButtJones420/status/153020...,2022-05-27 15:09:17+00:00,@yehurme Earthquakes,@yehurme Earthquakes,1530204501239549956,"{'username': 'ButtJones420', 'id': 14426548721...",0,0,0,0,...,None,1.530202e+18,"{'username': 'yehurme', 'id': 1209974104989847...","[{'username': 'yehurme', 'id': 120997410498984...",None,None,None,None,None,

In [13]:
df_2['north_america']=[df_2['user_location'][i] if df_2['user_location'][i]=="North America" else "Nan" for i in range(df_2.shape[0])]

In [15]:
df_2["north_america"].unique()

array(['Nan'], dtype=object)

### Flood:

In [18]:
df_3= pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('"flood"').get_items(), 5000))

In [19]:
df_3['user_location'] =  df_3['user'].apply(lambda x: x['location'])
df_3['user_location'].head(20)

0                  HouTex !
1                        17
2           New Orleans, LA
3
4                       USA
5               Atlanta, GA
6              Assam, India
7                  Nairobi
8        The United Kingdom
9                   Manila
10    Under the apple tree.
11
12
13      Birmingham, England
14                  Croatia
15
16            Charlotte, NC
17            Nashville, TN
18
19          Twin Cities, MN
Name: user_location, dtype: object

In [20]:
df_3['north_america']=[df_3['user_location'][i] if df_3['user_location'][i]=="North America" else "Nan" for i in range(df_3.shape[0])]

In [21]:
df_3["north_america"].unique()

array(['Nan', 'North America'], dtype=object)

### Tornadoe:

In [ ]:
df_4= pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('"tornadoe"').get_items(), 5000))

In [ ]:
df_4['user_location'] =  df_4['user'].apply(lambda x: x['location'])
df_4['user_location'].head(20)

In [ ]:
df_4['north_america']=[df_4['user_location'][i] if df_4['user_location'][i]=="North America" else "Nan" for i in range(df_4.shape[0])]

In [ ]:
df_4["north_america"].unique()

### Hurricane:

In [ ]:
df_5= pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('"hurricane"').get_items(), 5000))

In [ ]:
df_5['user_location'] =  df_5['user'].apply(lambda x: x['location'])
df_5['user_location'].head(20)

In [ ]:
df_5['north_america']=[df_5['user_location'][i] if df_5['user_location'][i]=="North America" else "Nan" for i in range(df_5.shape[0])]

In [ ]:
df_5["north_america"].unique()